.heading-container {
    display: flex;
}
.button-container {
    position: relative;
    max-width: 60%;
    height: auto;
}
.button-container img {
    max-width: 100%;
    height: auto;
    :hover {
        background-color: #553555;
    }
}
h1 {    
    font-size: 3rem;
    color: #553555;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    padding: 3rem;
    
}
header{
    display: flex;
}
