.heading-container {
    display: flex;
}
.button-container {
    position: relative;
    max-width: 60%;
    height: auto;
}
.button-container img {
    max-width: 100%;
    height: auto;
    :hover {
        background-color: #5553555;
    }
}
.button-container .btn {
    position: absolute;
    top: 65%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #070707;
    color: #ADF1D2;
    font-size: 2rem;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
}
h1 {    
    font-size: 3rem;
    color: #553555;
    display: flex;
    justify-content: center;
}
header{
    // display: flex;    
}
// img {
//     max-width: 100%;
//     height: auto;
//     opacity: 60%;
//     }
