nav {
    // background-color: #755B69;
    display: flex;
    justify-content: space-between;
    padding:1.6% 0;
    h2 {
            font-size: 2.2rem;
            color: #96c5b0;
            margin-left: 2%;   
    }             
        .holder{
            width:50%;
            display: flex;
            justify-content: space-around;
            color: #553555;
            :hover{
                background-color:#755B69;
            }
                a {
                    color: #553555;
                    text-decoration: none;
        }
    }    
}
    
        